.reset_form {
    background-color: rgb(90, 107, 220);
    padding: 100px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    color: #222222;
}

.btn-reset {
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: black;
}

.form-input {
    width: 700px;
}

.reset_password {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}