.section-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  background-image: url('../img/ekb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
}

.block-form-registration {
  padding: 3%;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  width: 600px;
}

.link-for-auth {
  padding-top: 10%;
  font-size: 20px;
}